*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */

}
.mensagem{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}

.resultado{
  line-height: 20px;
  padding: 10px;
  height: 90px;
  resize: none;
}
.bts{
 text-align: center;
}

.cp{
  text-align: center;
}
