*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: #F3F5FC;
}
h1{
  margin: 50px;
}
.container{
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-left: 15px;
  

}
#campo1{
  line-height: 20px;
  padding: 10px;
  height: 400px;
  width: 600px;
  margin: 10px;
  resize: none;
  border-radius: 32px;
  background-color: #F3F5FC;
}
.resultado{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}
#result{
  line-height: 400px;
  padding: 10px;
  height: 400px;
  margin: 10px;
  resize: none;
  border-radius: 32px;
  background-color: #ffffff;
  display: flex;
  position: absolute;
}
.imagem{
  justify-content: center;
  position: relative;
  width: 200px;
  margin-top: 20px;
  visibility: visible;
}
.bts{
 text-align: center;
 width: 600px;
 height: 60px;
 
}
#btn1{
width: 250px;
height: 30px;
border-radius: 24px;
background: #0A3871;
color: #ffffff;
background: #0A3871;
font-family: 'Inter', sans-serif;
font-weight: 400;
font-size: 16px;
}

#btn2{
  width: 250px;
  height: 30px;
  border-radius: 24px;
  color: #ffffff;
  background: #0A3871;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  }

.cp{
  text-align: center;
  margin-bottom: 50px;
}
.copy{
  width: 100px;
  height: 30px;
  border-radius: 24px;
  background: #0A3871;
  color: #ffffff;
  background: #0A3871;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  

}
